<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.wisdom.mapper.CourseTableMapper">
    <!-- List<CourseTable> getCourseTableListBySid(@Param("id") String sid,@Param("semester") String semester); -->
    <select id="getCourseTableListBySid" resultMap="distributedQuery">
        SELECT * FROM course_table WHERE sid = #{id} AND semester = #{semester}
    </select>

    <resultMap id="distributedQuery" type="CourseTable">
        <result property="semester" column="semester"/>
        <association property="student"
                     select="com.campus.wisdom.mapper.StudentMapper.getStudentBySid"
                     column="sid"/>
        <association property="teacher"
                     select="com.campus.wisdom.mapper.TeacherMapper.getTeacherByTid"
                     column="tid"/>
        <association property="courseTime"
                     select="com.campus.wisdom.mapper.CourseTimeMapper.getCourseTimeById"
                     column="time_id"/>
        <association property="course"
                     select="com.campus.wisdom.mapper.CourseMapper.getCourseByCid"
                     column="cid"/>
        <association property="textbook"
                     select="com.campus.wisdom.mapper.TextbookMapper.getTextbookById"
                     column="bid"/>
    </resultMap>

    <!-- List<String> getCidListBySid(@Param("id") String sid,@Param("semester") String semester) -->
    <select id="getCidListBySid" resultType="java.lang.String">
        SELECT cid FROM course_table WHERE sid = #{id} AND semester = #{semester}
    </select>

    <!-- List<String> getSemesterList() -->
    <select id="getSemesterList" resultType="java.lang.String">
        SELECT DISTINCT semester FROM course_table
    </select>
</mapper>